# Exploratory Data Analysis: Intercell Dataframe (from Omnipath database)

[//]: # (------------------------------------------    DO NOT MODIFY THIS    ------------------------------------------)
<style type="text/css">
.tg  {border-collapse:collapse;
      border-spacing:0;
     }
.tg td{border-color:black;
       border-style:solid;
       border-width:1px;
       font-family:Arial, sans-serif;
       font-size:14px;
       overflow:hidden;
       padding:10px 5px;
       word-break:normal;
      }
.tg th{border-color:black;
       border-style:solid;
       border-width:1px;
       font-family:Arial, sans-serif;
       font-size:14px;
       font-weight:normal;
       overflow:hidden;
       padding:10px 5px;
       word-break:normal;
      }
.tg .tg-fymr{border-color:inherit;
             font-weight:bold;
             text-align:left;
             vertical-align:top
            }
.tg .tg-0pky{border-color:inherit;
             text-align:left;
             vertical-align:top
            }
[//]: # (--------------------------------------------------------------------------------------------------------------)

[//]: # (-------------------------------------    FILL THIS OUT WITH YOUR DATA    -------------------------------------)
</style>
<table class="tg">
    <tbody>
      <tr>
        <td class="tg-fymr" style="font-weight: bold">Title:</td>
        <td class="tg-0pky">Exploratory Data Analysis: Intercell Dataframe (from Omnipath database)</td>
      </tr>
      <tr>
        <td class="tg-fymr" style="font-weight: bold">Authors:</td>
        <td class="tg-0pky">
            <a href="https://github.com/ecarrenolozano" target="_blank" rel="noopener noreferrer">Edwin Carre√±o</a>
        </td>
      </tr>
      <tr>
        <td class="tg-fymr" style="font-weight: bold">Affiliations:</td>
        <td class="tg-0pky">
            <a href="https://www.ssc.uni-heidelberg.de/en" target="_blank" rel="noopener noreferrer">Scientific Software Center</a>,
            <a href="https://saezlab.org/" target="_blank" rel="noopener noreferrer">Saez-Rodriguez Group</a>
        </td>
      </tr>
      <tr>
        <td class="tg-fymr" style="font-weight: bold">Date Created:</td>
        <td class="tg-0pky">22.04.2025</td>
      </tr>
      <tr>
        <td class="tg-fymr" style="font-weight: bold">Description:</td>
        <td class="tg-0pky">Extraction of metadata for building database tables </td>
      </tr>
    </tbody>
</table>

[//]: # (--------------------------------------------------------------------------------------------------------------)

## Overview

This notebook should help to understand the information contained in the "Intercell" dataset from the Omnipath database.

## Setup (if required)

If your code require to install dependencies before your main code, please add the commands to install the dependencies.

### Pandas installation

In [2]:
%pip install pandas -q

Note: you may need to restart the kernel to use updated packages.

## Importing Libraries

Recommendations:

- Respect the order of the imports, they are indicated by the numbers *1, 2, 3*.
- One import per line is recommended, with this we can track easily any modified line when we use git.
- Absolute imports are recommended (see *3. Local application/library specific imports* below), they improve readability and give better error messages.
- You should put a blank line between each group of imports.

In [3]:
# 1. Standard library imports
import os

# 2. Related third party imports
import numpy as np
import pandas as pd

# 3. Local application/library specific imports
# import <mypackage>.<MyClass>         # this is an example
# from <mypackage> import <MyClass>    # this is another example

## Introduction

TO DO

## Section 1. Load "Networks" dataset

### Section 1.1. Setting dataset path

In [26]:
dataset_path_annotations = os.path.join("../data/omnipath_annotations/omnipath_webservice_annotations__latest.tsv.gz")

In [27]:
print("This file exist? {}".format(os.path.exists(dataset_path_annotations)))

This file exist? True

### Section 1.2. Load dataset as Pandas DataFrame

#### Configuring Pandas view

In [6]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

#### Load data into Pandas Dataframe (without predefined data types)

By default the option *keep_default_na* is True, it means that Pandas will interpret empty values or null values as NaN values.

In [28]:
annotations_df = pd.read_table(dataset_path_annotations, sep="\t", keep_default_na=True)

In [30]:
annotations_df.head(10)

,uniprot,genesymbol,entity_type,source,label,value,record_id
0,P01137,TGFB1,protein,CellChatDB,role,ligand,0
1,P01137,TGFB1,protein,CellChatDB,pathway,TGFb,0
2,P01137,TGFB1,protein,CellChatDB,category,Secreted Signaling,0
3,COMPLEX:P36897_P37173,COMPLEX:TGFBR1_TGFBR2,complex,CellChatDB,role,receptor,1
4,COMPLEX:P36897_P37173,COMPLEX:TGFBR1_TGFBR2,complex,CellChatDB,pathway,TGFb,1
5,COMPLEX:P36897_P37173,COMPLEX:TGFBR1_TGFBR2,complex,CellChatDB,category,Secreted Signaling,1
6,P19883,FST,protein,CellChatDB,role,agonist,2
7,P19883,FST,protein,CellChatDB,pathway,NODAL,2
8,P19883,FST,protein,CellChatDB,category,Secreted Signaling,2
9,P19883,FST,protein,CellChatDB,role,antagonist,3

In [31]:
annotations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30954980 entries, 0 to 30954979
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   uniprot      object
 1   genesymbol   object
 2   entity_type  object
 3   source       object
 4   label        object
 5   value        object
 6   record_id    int64
dtypes: int64(1), object(6)
memory usage: 1.6+ GB

## Section 2. Metadata

We are interested in having a table with the following information:


- Column name.
- Data Type.
- A certain colum could contain null values.
- Number of unique  values.

That could be done using the next cell:

### Section 2.1. Overview

In [32]:
metadata = pd.DataFrame({
    'Column Name': annotations_df.columns,
    'Data Type': annotations_df.dtypes.values,
    'Nullable': annotations_df.isnull().any().values,
    'Unique Values': [annotations_df[col].nunique() for col in annotations_df.columns]
})

metadata

   Column Name Data Type  Nullable  Unique Values
0      uniprot    object     False          57995
1   genesymbol    object     False          57777
2  entity_type    object     False              4
3       source    object     False             81
4        label    object     False            160
5        value    object      True         831767
6    record_id     int64     False        5522266

### Section 2.2. Unique values per column

To know all the unique values in a certain column, just type the column's name in the variable *field*:

In [34]:
field = "entity_type"

print("List of unique values in field: {}\n\t{}".format(field, annotations_df[field].unique()))

List of unique values in field: entity_type
	['protein' 'complex' 'small_molecule' 'mirna']

## Section 3. Free Exploratory Analysis

In this section you can explore the data as you want, it means you can filter, select columns, counting values, etc. Feel free to explore as much you want.

### Counting Null values

In [ ]:
annotations_df.references[annotations_df['references'].isnull()]

6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
        ...
91829    NaN
91884    NaN
91909    NaN
91913    NaN
91917    NaN
Name: references, Length: 32120, dtype: object

### Counting Null

In [12]:
num_nulls_in_references = intercell_df['references'].isnull().sum()
num_nulls_in_references

np.int64(32120)

### Counting True values

In [ ]:
num_True_in_references = (annotations_df.references==True).sum()
num_True_in_references

np.int64(0)

### Counting "True" values

In [14]:
num_true_in_references = (intercell_df.references=="True").sum()
num_true_in_references

np.int64(0)

### Counting 1 values

In [15]:
num_one_in_references = (intercell_df.references=="1").sum()
num_one_in_references

np.int64(0)

### Counting False values

In [16]:
num_False_in_references= (intercell_df.references==False).sum()
num_False_in_references

np.int64(0)

### Counting "False" values

In [17]:
num_false_in_references = (intercell_df.references=="False").sum()
num_false_in_references

np.int64(0)

### Filtering

In [18]:
filtered = intercell_df[(intercell_df["substrate"]=="Q9D0N7")]
filtered

,enzyme,enzyme_genesymbol,substrate,substrate_genesymbol,isoforms,residue_type,residue_offset,modification,sources,references,curation_effort,ncbi_tax_id
65530,O88697,Stk16,Q9D0N7,Chaf1b,1,S,422,phosphorylation,PhosphoNetworks,NaN,0,10090
65531,O88697,Stk16,Q9D0N7,Chaf1b,1,S,458,phosphorylation,PhosphoNetworks,NaN,0,10090

In [19]:
filtered = intercell_df[(intercell_df["enzyme"]=="P02340")]
filtered

,enzyme,enzyme_genesymbol,substrate,substrate_genesymbol,isoforms,residue_type,residue_offset,modification,sources,references,curation_effort,ncbi_tax_id
69040,P02340,Tp53,Q04207,Rela,2,S,538,phosphorylation,ProtMapper;Sparser_ProtMapper,ProtMapper:18477470,1,10090
69128,P02340,Tp53,P39689,Cdkn1a,1,S,148,phosphorylation,ProtMapper;Sparser_ProtMapper,ProtMapper:12897801,1,10090
69715,P02340,Tp53,P02340,Tp53,1,S,37,phosphorylation,ProtMapper;Sparser_ProtMapper,ProtMapper:20354524,1,10090
69767,P02340,Tp53,Q9Z265,Chek2,1,T,68,phosphorylation,ProtMapper;REACH_ProtMapper,ProtMapper:24553354,1,10090
69997,P02340,Tp53,Q9DBR7,Ppp1r12a,1;2,T,698,phosphorylation,ProtMapper;REACH_ProtMapper,ProtMapper:24343302,1,10090
70021,P02340,Tp53,P38532,Hsf1,1;2,S,326,phosphorylation,ProtMapper;Sparser_ProtMapper,ProtMapper:24763051,1,10090
70187,P02340,Tp53,P27661,H2ax,1,S,140,phosphorylation,ProtMapper;REACH_ProtMapper,ProtMapper:24413150,1,10090
70303,P02340,Tp53,Q62193,Rpa2,1,S,33,phosphorylation,ProtMapper;REACH_ProtMapper,ProtMapper:29874588,1,10090
70677,P02340,Tp53,O35280,Chek1,1,S,317,phosphorylation,ProtMapper;REACH_ProtMapper,ProtMapper:29874588,1,10090
70678,P02340,Tp53,O35280,Chek1,1,S,345,phosphorylation,ProtMapper;REACH_ProtMapper,ProtMapper:20840867,1,10090
72208,P02340,Tp53,Q60751,Igf1r,1,Y,1163,phosphorylation,BEL-Large-Corpus_ProtMapper;ProtMapper,ProtMapper:19738076,1,10090
72543,P02340,Tp53,P52480,Pkm,1;2,Y,105,phosphorylation,ProtMapper;REACH_ProtMapper,ProtMapper:27385486,1,10090
72644,P02340,Tp53,Q9WVH4,Foxo3,1,S,320,phosphorylation,ProtMapper;RLIMS-P_ProtMapper,ProtMapper:24864229,1,10090
72961,P02340,Tp53,Q9QZR5,Hipk2,1;2,S,46,phosphorylation,ProtMapper;RLIMS-P_ProtMapper,ProtMapper:27901482,1,10090
73226,P02340,Tp53,Q05816,Fabp5,1,S,16,phosphorylation,ProtMapper;Sparser_ProtMapper,ProtMapper:27047747,1,10090

In [20]:
filtered = intercell_df[(intercell_df["substrate"]=="Q9D0N7")]
filtered

,enzyme,enzyme_genesymbol,substrate,substrate_genesymbol,isoforms,residue_type,residue_offset,modification,sources,references,curation_effort,ncbi_tax_id
65530,O88697,Stk16,Q9D0N7,Chaf1b,1,S,422,phosphorylation,PhosphoNetworks,NaN,0,10090
65531,O88697,Stk16,Q9D0N7,Chaf1b,1,S,458,phosphorylation,PhosphoNetworks,NaN,0,10090

In [27]:
count_enzymes = intercell_df["enzyme"].count()
count_enzymes

np.int64(93028)

In [26]:
count_substrate = intercell_df["substrate"].count()
count_substrate

np.int64(93028)

In [28]:
93028*2

186056

In [25]:
intercell_df.shape

(93028, 12)

## Section 4. Load the dataset with predefined data types.